* { 
    font-family: "Garamond", "Helvetica", sans-serif;
    font-size: 16px;
    border-radius: 25px;
    /*border: 1px red solid;*/
}

body {
    background-color: SandyBrown;
    background: linear-gradient(SandyBrown, white);
    margin-right: 50px;
    margin-left: 50px;
    } 

img {
    width: 300px;
    height: auto;
    border-radius: 25px;
    margin-top: 25px;
}

.title {
    font-size: 36px;
    text-align: center;
    background-color: #A0522D;
    color: white;
    padding: 20px;
    border-radius: 0px;
    margin: 0px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsection {
    background-color: SandyBrown;
    background: linear-gradient(SandyBrown, white);
    text-align: center;
    font-size: 24px;
    color: black;
    margin: 20px;
    padding: 20px;
}

.section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
}

.all-section {
    display: flex;
    justify-content: stretch;
}

.last-section {
    width: auto;
}